.authContainer {
  position: relative;
  border-radius: 12px;
  padding: 30px;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3mm solid var(--accent-color);
}
