.changeAvatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 20px;

    .avatarContainer {
        position: relative;
        width: 11vw;
        height: 11vw;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        transition: opacity 0.3s ease;

        img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        }

        .placeholderAvatar {
        width: 100%;
        height: 100%;
        background-color: rgba(72, 90, 212, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 50%;
        }

        .hoverText {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1.5vw;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        opacity: 0;
        transition: opacity 0.3s ease;
        border-radius: 50%;
        font-size: 18px;
        text-align: center;
        }

        &:hover .hoverText {
        opacity: 1;
        }
    }
}
