.root {
  width: 100%;
  height: 100vh;
  padding: 20px;
  text-align: center;

  > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .btnBlock {
    display: flex;
    flex-direction: column;

    .linkBtn {
      width: 60%;
      margin: 20px auto;
      padding: 15px;
      border-radius: 30px;
      font-size: 18px;
      text-decoration: none;
      color: var(--background-white);
      background: var(--background-hover);
    }
  }
}
