@import '@mantine/core/styles.layer.css';
@import '@mantine/notifications/styles.layer.css';
@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap';

body {
  font-family: Inter, sans-serif;
  background: var(--background-base);
}

:root {
  --background-base: #f5f5f5;
  --background-muted: #e0e6f1;
  --background-highlight: #ced5ef;
  --background-hover: #4754d4;
  --background-white: #fff;
  --accent-color: #576ff8;
  --error-color: #f55;
  --text-color: #3e4cbc;
  --dark-text-color: #022859;
  --card-background: #3e4cbc2b;
  --scrollbar-background: var(--card-background);
  --scrollbar-thumb-background: #3e4cbc80;
}

[data-theme='dark'] {
  --primary-color: #90caf9;
  --background-base: #1C2347;
  --background-muted: rgb(80 82 114 / 20%);
  --accent-color: #565F98;
  --text-color: #fff;
  --background-highlight: #363A5C;
  --mantine-color-body: #363A5C;
  --dark-text-color: #ced5ef;
}

[data-theme='dark'] .settings-header-text {
  --accent-color: #fff;
}