.dropdown {
  background: var(--reaction-picker-background);
  border-radius: 50px;
  border: 0;
  padding: 5px;
  z-index: 50;
}

.reaction {
  background: transparent;
  color: var(--background-white);
  border-radius: 50px;
}

.target {
  color: var(--reaction-active-background);
  border-radius: 50px;
}