.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

.actionsLeft {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.actionsRight {
  display: flex;
  align-items: flex-start;
}

.actionButton span span {
  font-size: clamp(12px, 2vw, 18px);
}
